In [1]:
import sys
print(sys.executable)

C:\Program Files\Python314\python.exe

In [2]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\users\user\appdata\roaming\python\python314\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\user\appdata\roaming\python\python314\site-packages (from pandas) (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\appdata\roaming\python\python314\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\user\appdata\roaming\python\python314\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\user\appdata\roaming\python\python314\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\user\appdata\roaming\python\python314\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [5]:
import pandas as pd
print(pd.__version__)
import glob
import os

2.3.3

In [46]:
folder_path = r"C:\Florence\Campus stuff\Semester 5\Pemodelan Bidang Energi - PBE\TUBES - 11\Data Storage\Renewable Data\CSVs"
files = [
    f for f in glob.glob(os.path.join(folder_path, "*.csv"))
    if not f.endswith("installed-geothermal-capacity.csv")
]

df_other = pd.concat(
    (pd.read_csv(f) for f in files), 
    ignore_index=True
)

df_gthermal = pd.read_csv(
    os.path.join(folder_path, "installed-geothermal-capacity.csv")
)

files

['C:\\Florence\\Campus stuff\\Semester 5\\Pemodelan Bidang Energi - PBE\\TUBES - 11\\Data Storage\\Renewable Data\\CSVs\\biofuel-production.csv',
 'C:\\Florence\\Campus stuff\\Semester 5\\Pemodelan Bidang Energi - PBE\\TUBES - 11\\Data Storage\\Renewable Data\\CSVs\\hydropower-generation.csv',
 'C:\\Florence\\Campus stuff\\Semester 5\\Pemodelan Bidang Energi - PBE\\TUBES - 11\\Data Storage\\Renewable Data\\CSVs\\solar-energy-consumption.csv',
 'C:\\Florence\\Campus stuff\\Semester 5\\Pemodelan Bidang Energi - PBE\\TUBES - 11\\Data Storage\\Renewable Data\\CSVs\\wind-generation.csv']

In [47]:
df_other.columns

Index(['Entity', 'Code', 'Year', 'Biofuels production - TWh',
       'Electricity from hydro - TWh', 'Electricity from solar - TWh',
       'Electricity from wind - TWh'],
      dtype='object')

In [48]:
df_other_sort = df_other[
    (df_other["Entity"] == "Indonesia") &
    (df_other["Year"] >= 2000) &
    (df_other["Year"] <= 2024)
]

df_other_merge = (
    df_other_sort
    .groupby(["Entity", "Year"], as_index=False)
    .first()
)

df_other_merge = df_other_merge.rename(
    columns={"Biofuels production - TWh": "Electricity from biofuels - TWh"}
)

In [49]:
df_other_merge.head()

,Entity,Year,Code,Electricity from biofuels - TWh,Electricity from hydro - TWh,Electricity from solar - TWh,Electricity from wind - TWh
0,Indonesia,2000,IDN,0.0,10.02,0.0,0.0
1,Indonesia,2001,IDN,0.0,11.65,0.0,0.0
2,Indonesia,2002,IDN,0.0,9.93,0.0,0.0
3,Indonesia,2003,IDN,0.0,9.10,0.0,0.0
4,Indonesia,2004,IDN,0.0,9.67,0.0,0.0

In [50]:
df_gthermal = df_gthermal[
    [
        "Entity",
        "Year",
        "Geothermal capacity - TWh"
    ]
]

df_gthermal = df_gthermal.rename(
    columns={"Geothermal capacity - TWh": "Electricity from geothermal - TWh"}
)

In [54]:
df_gthermal = df_gthermal[
    (df_gthermal["Entity"] == "Indonesia") &
    (df_gthermal["Year"] >= 2000) &
    (df_gthermal["Year"] <= 2024)
]

In [52]:
df_final = pd.merge(
    df_other_merge,
    df_gthermal,
    on=["Entity", "Year"],
    how="left"
)

In [53]:
df_final.head()

,Entity,Year,Code,Electricity from biofuels - TWh,Electricity from hydro - TWh,Electricity from solar - TWh,Electricity from wind - TWh,Electricity from geothermal - TWh
0,Indonesia,2000,IDN,0.0,10.02,0.0,0.0,0.000525
1,Indonesia,2001,IDN,0.0,11.65,0.0,0.0,0.000785
2,Indonesia,2002,IDN,0.0,9.93,0.0,0.0,0.000785
3,Indonesia,2003,IDN,0.0,9.10,0.0,0.0,0.000805
4,Indonesia,2004,IDN,0.0,9.67,0.0,0.0,0.000820

In [45]:
df_final.to_csv("renewable-electricity-Indonesia_2000_2024.csv", index=False)