In [1]:
import sys
print(sys.executable)

C:\Program Files\Python314\python.exe

In [2]:
import pandas as pd
print(pd.__version__)
import glob
import os

2.3.3

In [3]:
folder_path = r"C:\Florence\Campus stuff\Semester 5\Pemodelan Bidang Energi - PBE\TUBES - 11\Data Storage\Non-Renewable Data\CSVs"

files = [
    f for f in glob.glob(os.path.join(folder_path, "*.csv"))
    if not f.endswith("elec-fossil-nuclear-renewables.csv")
]

df_other = pd.concat(
    (pd.read_csv(f) for f in files),
    ignore_index=True
)

df_nuclear = pd.read_csv(
    os.path.join(folder_path, "elec-fossil-nuclear-renewables.csv")
)
    
files

['C:\\Florence\\Campus stuff\\Semester 5\\Pemodelan Bidang Energi - PBE\\TUBES - 11\\Data Storage\\Non-Renewable Data\\CSVs\\electricity-coal.csv',
 'C:\\Florence\\Campus stuff\\Semester 5\\Pemodelan Bidang Energi - PBE\\TUBES - 11\\Data Storage\\Non-Renewable Data\\CSVs\\electricity-fossil-fuels.csv',
 'C:\\Florence\\Campus stuff\\Semester 5\\Pemodelan Bidang Energi - PBE\\TUBES - 11\\Data Storage\\Non-Renewable Data\\CSVs\\electricity-gas.csv',
 'C:\\Florence\\Campus stuff\\Semester 5\\Pemodelan Bidang Energi - PBE\\TUBES - 11\\Data Storage\\Non-Renewable Data\\CSVs\\electricity-oil.csv']

In [4]:
df_other.columns

Index(['Entity', 'Code', 'Year', 'Electricity from coal - TWh',
       'Electricity from fossil fuels - TWh', 'Electricity from gas - TWh',
       'Electricity from oil - TWh'],
      dtype='object')

In [5]:
df_other_sort = df_other[
    (df_other["Entity"] == "Indonesia") &
    (df_other["Year"] >= 2000) &
    (df_other["Year"] <= 2024)
]

df_other_merge = (
    df_other_sort
    .groupby(["Entity", "Year"], as_index=False)
    .first()
)

In [6]:
df_other_merge.head()

,Entity,Year,Code,Electricity from coal - TWh,Electricity from fossil fuels - TWh,Electricity from gas - TWh,Electricity from oil - TWh
0,Indonesia,2000,IDN,34.00,78.44,31.93,12.51
1,Indonesia,2001,IDN,37.71,83.97,33.09,13.17
2,Indonesia,2002,IDN,42.93,92.04,29.26,19.85
3,Indonesia,2003,IDN,46.46,97.57,27.95,23.16
4,Indonesia,2004,IDN,48.21,103.81,26.76,28.84

In [7]:
df_nuclear = df_nuclear[
    [
        "Entity",
        "Year",
        "Electricity from nuclear - TWh (adapted for visualization of chart elec-fossil-nuclear-renewables)"
    ]
]

df_nuclear = df_nuclear.rename(
    columns={"Electricity from nuclear - TWh (adapted for visualization of chart elec-fossil-nuclear-renewables)": "Electricity from nuclear - TWh"}
)

In [8]:
df_nuclear = df_nuclear[
    (df_nuclear["Entity"] == "Indonesia") &
    (df_nuclear["Year"].between(2000, 2024))
]

In [9]:
df_final = pd.merge(
    df_other_merge,
    df_nuclear,
    on=["Entity", "Year"],
    how="left"
)

In [10]:
df_final.head()

,Entity,Year,Code,Electricity from coal - TWh,Electricity from fossil fuels - TWh,Electricity from gas - TWh,Electricity from oil - TWh,Electricity from nuclear - TWh
0,Indonesia,2000,IDN,34.00,78.44,31.93,12.51,0.0
1,Indonesia,2001,IDN,37.71,83.97,33.09,13.17,0.0
2,Indonesia,2002,IDN,42.93,92.04,29.26,19.85,0.0
3,Indonesia,2003,IDN,46.46,97.57,27.95,23.16,0.0
4,Indonesia,2004,IDN,48.21,103.81,26.76,28.84,0.0

In [11]:
df_final.to_csv("non-renewable-electricity-Indonesia_2000_2024.csv", index=False)